body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  padding: 50px
}



ul {
  padding: 20px
}

.btn btn-primarybutton {
  padding-left: 50px;
}

.add-form-modal {
  border: 1px #00b7ff;
  width: 200px;
  height: 200px;
  cursor: pointer;
  background-color: azure;
  display: none;
}

.add-form {
  padding: 10px;
  border: 2px #00b7ff;
  width: 50%;
  height: 50%;
  cursor: pointer;
  background-color: azure;
  display: none;
}

.update-form{
  padding: 10px;
  border: 2px #00b7ff;
  width: 50%;
  height: 50%;
  cursor: pointer;
  background-color: rgb(234, 255, 248);
  
}

.table-striped {
  padding: 50px;
}

update-form-modal {
  border: 1px #00b7ff;
  width: 200px;
  height: 200px;
  cursor: pointer;
  background-color: azure;
}

