body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(254, 254, 254);
}

.list-group-item {
  margin-top: 20px;
}

.cc-1 {
  border-left: #EB4E4E solid 20px;
  margin-top: 20px;
}

.cc-2 {
  border-left: #2F8D8D solid 20px;
}
.cc-3 {
  border-left: #EB954E solid 20px;
}
.cc-4 {
  border-left: #3EBC3E solid 20px;
}


box {
  height: 100px;
  width: 100px;
  background-color: #e65454;
}


.update-form-modal {
  background-color: rgb(241, 254, 248);

}

update-form{
  cursor: pointer;
  background-color: rgb(234, 255, 248);
;
}

.table-striped {
  padding: 50px;
}


